<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437281664939-r4rpbfndgnb7rma8nf8a2tqvbkadj5e0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437281664939-r4rpbfndgnb7rma8nf8a2tqvbkadj5e0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>437281664939-fqte6c1anbvosd79k3ne6bj79m3issne.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcGEJ-rKTt0PVqrn--984uTfGpLe4jEmI</string>
	<key>GCM_SENDER_ID</key>
	<string>437281664939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helpgenie.helpgenie</string>
	<key>PROJECT_ID</key>
	<string>helpgenie-15944</string>
	<key>STORAGE_BUCKET</key>
	<string>helpgenie-15944.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437281664939:ios:f4825ea926d7deaf2e6cee</string>
</dict>
</plist>