.user-img{
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;

}


.logo-thumb{
    // --border-radius: 14px;
    padding: 0.2rem;
    background: black;
      
}

.logo-container{
    width: 100%;
}

.side-menu-block{
    display: flex;
    padding-left: 1rem;
}

.logo-thumb-menu{
    // --border-radius: 14px;
    padding: 0.2rem;
    background: black;
}