.settings-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}



.settings-version-block{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-container{
    color: red;
}