<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="goback()">OK</ion-button>
    </ion-buttons>
    <ion-title> Terms of Use</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Updated effective from 20th April, 2024</h3>

  <h2>Welcome to HelpGenie!</h2>
  <p>These  Terms of Use and Refund Policy ("Terms") govern your access to and use of the HelpGenie mobile application ("App") and any related services provided by us. By accessing or using our App, you agree to be bound by these Terms.</p>
  <p>NECKTAR is a leading provider of service connections through our HelpGenie app. Our mission is to connect users with reliable service providers for a seamless experience.</p>
        
  <h3>1. Acceptance of Terms</h3>
  <p>By accessing or using the HelpGenie App, you agree to be bound by these Terms. If you do not agree to all the terms and conditions, then you may not access the app or use any services.</p>

  <h3>2. Use of the App</h3>
  <p>The HelpGenie app is intended for use by individuals seeking to find service providers such as electricians, plumbers, beauticians, pest control, and other similar services in their vicinity. By using the app, you agree to use it only for lawful purposes and in accordance with these Terms and Conditions.</p>

  <h3>3. User Accounts</h3>
  <p>In order to access certain features of the app, you may be required to create an account. You agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate, current, and complete. You are responsible for maintaining the confidentiality of your account and password and for restricting access to your account, and you agree to accept responsibility for all activities that occur under your account or password.</p>

  <h3>4. Google Login</h3>
  <p>You have the option to log in to the HelpGenie app using your Google login credentials. By choosing this option, you agree to comply with Google's terms of service and privacy policy.</p>

  <h3>5. Payment Interface</h3>
  <p>The HelpGenie app includes a payment interface that allows users to pay for services and book appointments with service providers. By using the payment interface, you agree to pay all fees and charges associated with your use of the app and any services provided through the app.</p>

  <h3>6. Service Providers</h3>
  <p>Service providers listed on the HelpGenie app are independent contractors and are not employees or agents of HelpGenie. We do not endorse or guarantee the quality of services provided by service providers listed on the app. Users are responsible for selecting service providers and for verifying their credentials and qualifications.</p>

  <h3>7. Limitation of Liability</h3>
  <p>To the fullest extent permitted by law, HelpGenie shall not be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses, resulting from (a) your access to or use of or inability to access or use the app; (b) any conduct or content of any third party on the app, including without limitation, any defamatory, offensive, or illegal conduct of other users or third parties; or (c) unauthorized access, use, or alteration of your transmissions or content.</p>

  <h3>8. Governing Law</h3>
  <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of India.</p>

  <h3>9. Pricing</h3>
<p>All prices on our website are in Indian Rupees (INR) and are inclusive of applicable taxes, unless otherwise stated.</p>

  <h3>10. Changes to Terms and Conditions</h3>
  <p>HelpGenie reserves the right, at its sole discretion, to modify or replace these Terms and Conditions at any time. If a revision is material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

  <h3>11. Refund Policy</h3>
  <p>Refunds are applicable in the following circumstances:</p>
  <ol>
    <li>If a user cancels a service booking within 6 hr of the scheduled service date, a full refund will be issued.</li>
    <li>If a service provider cancels a confirmed service booking, a full refund will be issued to the user.</li>
    <li>If a service provider rejects a service request due to unavailability or any other reason, a full refund will be issued to the user.</li>
    <li>if the service provider is unable to provide the service on the scheduled date, the service will be automatically canceled, and a refund will be initiated to the customer's account.</li>
  </ol>
  <p>All refund requests must be submitted in writing to our customer support team at {{necktarMail}}. Refunds will be processed within 2-5 days from the date of the refund request.</p>
  <p>For any billing-related issues or refund requests regarding fees paid through the HelpGenie app, please contact our support team at {{necktarMail}}</p>

  

  <h3>12. Contact Us</h3>
  <p>If you have any questions about these Terms and Conditions, please contact us at <a [href]="necktarMail">{{necktarMail}}</a>.</p>
  <p><strong>NECKTAR</strong></p>
  <p>ground floor situated No.8, Patalamma Layout, Kadugodi</p>
  <p>Bengaluru, Karnataka, 560067</p>
  <p>Email: {{necktarMail}}</p>




  <p>By using the HelpGenie app, you acknowledge that you have read, understood, and agree to be bound by these Terms and Conditions.</p>
</ion-content>
